.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-position: right top;
  position: absolute;
  right: -210px;
  bottom: 0;
  z-index: 1;
}
